
#carbonads {
  display: block;
  overflow: hidden;
  margin-bottom: 1em;

  font-family: Verdana, "Lucida Grande", sans-serif;
  color: #333;
  font-size: .9em;

}


.carbon-wrap {
  padding: 15px;
  padding-bottom: 5px;
  border: solid 1px #cccccc;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  background-color: #f0f0f0;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  display: block;
  margin-bottom: 1em;
}

.carbon-img img {
  display: block;
  margin: 0 auto;
}

.carbon-text {
  display: block;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  padding: .5em 0;
  background-color: #778877;
  color: #fff !important;
  text-align: center;
  font-size: 10px;
}

#docs-sidebar #carbonads {
    background: inherit;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-right: 1px;
    font-size: .8em;
}



div .ea-content {
  max-width: 100% !important;
  display: block !important;
  margin: 0 !important;
  padding: 1em !important;
}
div .ea-text {
  /*font-size: .9em !important;*/
}
div .ea-callout {
  max-width: 100% !important;
  text-align: center !important;
}