/* this css mediates between the doc-bundled docs.css and style.css, and the
   website's site2.css
*/

#docs {
    font-size:1.1em;
}

li li { line-height: 1.2em; }

code {
    font-family:"Deja Vu Sans Mono","Vera Sans Mono",Courier,"Courier New",fixed;
    font-size:.95em;
}

.totoc, .prevnext, .topnav .prevnext {
  font-size:1em;
}

pre {
}

.codepop {
   font-size:.95em;
}
