STANDARD_DOCS = [
    ('/home/classic/dev/sa03/doc/', '03'),
    ('/home/classic/dev/sa04/doc/', '04'),
    ('/home/classic/dev/sqlalchemy/doc/', '05')
]

SPHINX_DOCS = [
    ('/home/classic/dev/sphinx/doc/build/output/site', 'sphinxtest')
]

