# This is a barren blogofile config file.
# See docs at http://www.blogofile.com/documentation
# for config options
# or run 'blogofile help init' to see more complete templates

docs = controllers.docs

docs.enabled = True

dev_root = '/Users/classic/dev'

docs.standard_docs = [
#    (dev_root + '/sa04/doc/', '04'),
]

docs.sphinx_docs = [
    (dev_root + '/sa05/doc/build/output/site', '05'),
    (dev_root + '/sa06/doc/build/output/site', ''),
    (dev_root + '/sqlalchemy/doc/build/output/site', '07')
]

site.url = "http://www.sqlalchemy.org"

# blog
blog = controllers.blog
blog.enabled = True
blog.path = "/blog"

blog.path = "/blog"

blog.name = "SQLAlchemy Blog"

blog.timezone = "US/Eastern"

blog.post_default_filters = {
    "markdown": "markdown",
    "textile": "syntax_highlight, textile",
    "org": "syntax_highlight, org",
    "rst": "rst, syntax_highlight"
}

