<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

  <!--! Add site-specific style sheet -->
  <head py:match="head" py:attrs="select('@*')">
    ${select('*|comment()|text()')}

    <link rel="stylesheet" type="text/css"
          href="${href.chrome('site/site.css')}" />
    <link rel="stylesheet" type="text/css"
          href="${href.chrome('site/code.css')}" />

  </head>

  <body py:match="body" py:attrs="select('@*')">
    <!--! Add site-specific header -->

<form py:match="div[@id='content' and @class='ticket']/form" py:attrs="select('@*')">
  <py:if test="req.environ['PATH_INFO'] == '/newticket' and (not 'preview' in req.args)">
  <h1 style="color:red">Please read the guidelines at 
    <a href="/participate.html#bugs">Reporting Bugs</a>
    before posting a ticket.
  </h1>

    </py:if>
  ${select('*')} 
</form>

    ${select('*|text()')}

    <!--! Add site-specific footer -->
    <div id="sitefooter">
      <!--! Place your footer content here... -->
    </div>
  </body>
</html>

