<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">

  <!--! Add site-specific style sheet -->
  <head py:match="head" py:attrs="select('@*')">
    ${select('*|comment()|text()')}
    <link rel="stylesheet" type="text/css"
          href="${href.chrome('site/site.css')}" />
    <link rel="stylesheet" type="text/css"
          href="${href.chrome('site/code.css')}" />

  </head>

  <body py:match="body" py:attrs="select('@*')">
    <!--! Add site-specific header -->

<form py:match="div[@id='content' and @class='ticket']/form" py:attrs="select('@*')">
  <py:if test="req.environ['PATH_INFO'] == '/newticket' and (not 'preview' in req.args)">
  <div style="color:red;">
  <h1>Guideline for tickets:</h1>

    <ul style="font-size:1.2em; font-weight:bold">
    <li>Please attach a single-file, no-dependencies-needed test script illustrating the minimal steps to reproduce the problem!  No remote links or project checking out please, thanks !</li>
    <li>Please avoid long winded explanations of the problem, we do not have time to read them !  Just the code, please, thank you !</li>
    </ul>
    </div>
    </py:if>
  ${select('*')} 
</form>

    ${select('*|text()')}

    <!--! Add site-specific footer -->
    <div id="sitefooter">
      <!--! Place your footer content here... -->
    </div>
  </body>
</html>

