$sa-green: #778877;
$sa-grey: #778877;
$a-color: #700;
$a-hover-color: #f00;
$code-color: #703040;

.bg-sa-green {
  background: $sa-green
}

.bg-sa-grey {
  background: #f0f0f0;
}

.textual-font {
  font-family: "Source Sans Pro", arial, sans-serif;
  color: #333;
  font-size: 110%;
}

.topic-box-header-font {
  font-family: Verdana, "Lucida Grande", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #778877;
  letter-spacing: 1px;
}

.selling-point-font {
  color: #777733;
  font: 16px/1.1em "Source Sans Pro", arial, sans-serif;
  font-weight: bold;
}

.page-welcome-font-big {
  font: 22px/24px Tahoma, Geneva, sans-serif;
  color: #222222;
  letter-spacing: normal;
}

.box {
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 20px 0;
  padding: 12px;
}

.main-body a {
  font-weight: normal;
  text-decoration: none;

  &:link {
    padding: 0 0 1px 0;
    color: $a-color;
  }

  &:visited {
    color: $a-color;
  }

  &:hover {
    color: $a-hover-color;
  }
}

.small-text {
  font-size: 0.8rem;
}

code {
  color: $code-color;
}

/* header ---------------------------------------------------------- */

nav.navbar.logo {
  height: 65px;
  background: #fff url(../img/symbols-bg5.gif) top right no-repeat;
}

/* body ---------------------------------------------------------- */

body {
  background: #fbfbfb;
  div.wrap {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }
}

div.sidebar {
  .sponsor-img {
    width: 50px;
    height: 50px;
  }
  ul {
    list-style: none;
  }
  li {
    line-height: 1.4em;
  }
}

/* footer ------------------------------------------------------------*/

div.footer {
  @extend .textual-font;
  clear: both;
  margin: 50px 0 -50px 0;
  border-top: 1px solid #d9d9d9;
  padding: 2em 1em;
  background: #fff url(../img/nav-shadow2.gif) top left repeat-x;
  position: relative;
  z-index: 100;

  p {
    margin: 0;
    padding: 0;
  }

  .pypowered {
    float: left;
    margin: 0 10px 0 0;
  }

  .copyright {
    float: left;
    font-size: 0.9em;
  }
}

/* content styles ---------------------------------------------------------- */

main.content {
  h1 {
    @extend .page-welcome-font-big;
    margin: 0 2em 15px 0;
    padding: 0;
  }
  h2 {
    @extend .topic-box-header-font;
    margin: 2em 0 10px 0;
    padding: 0 0 4px 0;
    font-size: 90%;
    border-bottom: 1px solid #d9e7bd;
  }
  p {
    margin: 0 0 1em 0;
    padding: 0;
  }

  /* features styles
    ---------------------------------------------------------- */

  dl.features {
    padding-top: 10px;
    border-bottom: 1px solid #cccccc;
    dt {
      @extend .selling-point-font;
      padding-top: 20px;
      float: left;
      width: 135px;
    }
    dd {
      border-top: 1px solid #cccccc;
      padding-left: 145px;
      padding-right: 20px;
      padding-top: 15px;
      padding-bottom: 10px;
      margin-left: 0px;
    }
  }

  .tidelift-support img {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #888;
    margin-right: 20px !important;
  }
}