body {
  margin: 0;
  padding: 0;

  font-family: Verdana, "Lucida Grande", sans-serif;

  text-align: left;
  color: #333;
  background: #fff;
}

a {

  &:link {
    padding: 0 0 1px 0;
    font-weight: normal;
    text-decoration: none;
    color: #900;
  }

  &:visited {
    color: #700;
    font-weight: normal;
    text-decoration: none;
  }

  &:hover {
    color: #f00;
    font-weight: normal;
    text-decoration: underline;
  }
}


/* page structure
---------------------------------------------------------- */

#wrap {
    position: relative;
    max-width: 1024px;
    min-width: 480px;
    margin: 0 auto;
    text-align: left;
    background: #fff;

}

.pagetext {
    font-size: small;
    line-height: 1.4em;
}

#main-body {
    padding: 20px 20px 0 20px;
}

#sidebar {
    @extend .pagetext;
    float: right;
    width: 25%;
    font-size: .75em;
    line-height: 1.4em;
    color: #777;
}


#content {
    @extend .pagetext;
    float: left;
    width: 75%;

    #content-inner {
        margin: 0 30px 0 0;
    }
}


#footer {
    @extend .pagetext;
    clear: both;
    margin: 50px 0 20px 0;
    border-top: 1px solid #d9d9d9;
    padding: 2em 1em;
    background: #fff url(../img/nav-shadow2.gif) top left repeat-x;
}

/* header
---------------------------------------------------------- */

#header {
  height: 65px;
  background: #fff url(../img/symbols-bg5.gif) top right no-repeat;
}

#logo {
  padding: 0;
  width: 172px;
}
#logo img {
  margin: 7px 0 0 16px;
}
#description {
  position: absolute;
  width: 180px;
  top: 45px; right: 0px;
  margin: 0 20px 0 0;
}

/* navigation
---------------------------------------------------------- */

#nav {
    padding: 1px 15px 0px 15px;
    background: #787 url(../img/navbg1.gif) repeat-x top left;
    height:26px;
    font-size:small;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {

            &:hover ul {
                display:block;
            }

            ul {
                display:none;
                position:absolute;
                top:92px;
                min-width:140px;

                li {

                    &:hover {
                        color: #fff;
                        background-color: #333;
                    }

                    height:26px;
                    width:100%;
                    background-color: #787;
                    clear:left;
                    float:left;

                    a {
                        width:100%;
                    }
                }
            }
        }
    }

    li {
        float: left;
        margin: 0;
        padding: 0;
        min-height:26px;

        &:hover, .active {
            color: #fff;
            background-color: #333;
        }

        a {
            float: left;
            margin: 0;
            padding: 5px 12px;
            font-family: arial, verdana, sans-serif;
            font-size: 100%;
            font-weight: normal;
            text-decoration: none;
            color: #f0f0f0;
        }

    }

}


#gittip_nav {
  float:right;
  margin-top:2px;
}
