<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
   <input type="hidden" name="cmd" value="_xclick">
Donate for SQLAlchemy's Hosting!

<br/>

   <input type="hidden" name="business" value="mike_sqla@zzzcomputing.com">
   <input type="hidden" name="item_name" value="SQLAlchemy Project Donation">
   <input type="hidden" name="item_number" value="">

   <input type="radio" name="amount" value="25.00" checked>$25
   <input type="radio" name="amount" value="50.00">$50
   <input type="radio" name="amount" value="100.00">$100

   <input type="hidden" name="no_shipping" value="2">
   <input type="hidden" name="no_note" value="1">
   <input type="hidden" name="currency_code" value="USD">
   <input type="hidden" name="tax" value="0">
   <input type="hidden" name="bn" value="IC_Sample">


<br/>
<center><input type="image" src="/_img/x-click-but04.gif" border="0" name="submit" alt="Send a donation"></center>

   </form>
