<%page args="section=None"/>
<%
    news = []
    self.include_file("/news_data.html", container=news)
    max = 7
    count = 0
%>

<div id="sidebar">

<div class="box">
<h3>Current Release</h3>
<a href="/download.html"><b>0.4.0</b></a>
| <a href="/trac/wiki/WhatsNewIn04">Whats New ?</a>
| <a href="/docs/04/">docs</a>
<br/>
Released October 17, 2007
<hr style="display:block;"/>
<a href="/download.html"><b>0.3.11</b></a> 
| <a href="/trac/browser/sqlalchemy/tags/rel_0_3_11/CHANGES">Changelog</a>
| <a href="/docs/03/">docs</a>
<br/>
Released October 14, 2007
</div>

<div class="box">
    <h3>Latest News</h3>
	<ul>
% for item in news:
<%
	count += 1
	if count > max:
		break
%>
	<li><a href="/news.html#${item['id']}">${item['headline']}</a><br/><span class="date">${item['formatted_date']}</span>
% endfor
    </ul>
% if section != 'news':
<br/>
<a href="/news.html">More news...</a>
% endif
</div>

<div class="box">
  <h3>Quicklinks</h3>
  <ul>
  <li>Documentation: <a href="/docs/04/">0.4</a> | <a href="/docs/03/">0.3</a></li>
  <li>Changelog:<br/>
 <a href="/CHANGES">Latest Release</a> | <a href="/trac/browser/sqlalchemy/trunk/CHANGES">SVN Trunk</a></li>
  <li>Timelines:<br/>
  <a href="/trac/timeline">Project</a> | <a href="/trac/log/sqlalchemyorg/trunk">Website</li>
  <li><a href="http://groups.google.com/group/sqlalchemy">Mailing List</a></li>
  <li><a href="/trac/browser">Browse SVN</a></li>
  <li><a href="/download.html">Download</a></li>
  </ul>
</div>

<div class="box donate">
  <%include file="/paypal.html"/>
</div>

</div> <!-- end #sidebar -->
