<%page args="section=None"/>
<%
    news = []
    self.include_file("/news_data.html", container=news)
    max = 7
    count = 0
%>

<div id="sidebar">

<div class="box">
    <h3>Latest News</h3>
	<ul>
% for item in news:
<%
	count += 1
	if count > max:
		break
%>
	<li><a href="/news.html#${item['id']}">${item['headline']}</a><br/><span class="date">${item['formatted_date']}</span>
% endfor
    </ul>
% if section != 'news':
<br/>
<a href="/news.html">More news...</a>
% endif
</div>

<div class="box">
  <h3>Quicklinks</h3>
  <ul>
  <li><a href="/docs/">Documentation</a></li>
  <li><a href="/CHANGES">Changelog</a></li>
  <li><a href="/trac/timeline">Timeline/Checkins</a></li>
  <li><a href="http://groups.google.com/group/sqlalchemy">Mailing List</a></li>
  <li><a href="/trac/browser">Browse SVN</a></li>
  <li><a href="/download.html">Download</a></li>
  </ul>
</div>

<div class="box donate">
  <%include file="/paypal.html"/>
</div>

</div> <!-- end #sidebar -->
