<%page args="section=None"/>
<%
    news = []
    self.include_file("/news_data.html", container=news)
    max = 7
    count = 0
%>

<div id="sidebar">

<div class="box">
<h3>Current Release</h3>

<a href="/download.html"><b>0.5.0</b></a>
<br/>
<a href="/trac/wiki/05Migration">What's New?</a> | 
<a href="/trac/browser/sqlalchemy/tags/rel_0_5_0/CHANGES">Changelog</a> | 
<a href="/docs/05/">docs</a>
<br/>
Released January 6, 2009

<br/>
<hr style="display:block"/>

<a href="/download.html"><b>0.4.8</b></a>
<br/>
<a href="/trac/browser/sqlalchemy/tags/rel_0_4_8/CHANGES">Changelog</a>
| <a href="/docs/04/">docs</a>
<br/>
Released October 12, 2008

</div>

<div class="box">
<p>SQLAlchemy powers such websites as:
<ul>
	<li><a href="http://reddit.com">reddit.com</a></li>
        <li><a href="http://lexmachina.stanford.edu/">Lexmachina</a></li>
	<li><a href="http://www.virgincharter.com">Virgin Charter</a></li>
        <li><a href="http://www.adroll.com">Adroll.com</a></li>
</ul>
</p>
<a href="/trac/wiki/SAApps">more...</a>
</div>

<div class="box">
<p>The first of two SQLAlchemy books now available:</p>
<div style="text-align:center">
<a href="http://www.oreilly.com/catalog/9780596516147/"><img src="/_img/essential_sqla.gif" border="none"/></a>
</div>
<p>Using the book with 0.5?  Please read the <a href="/trac/wiki/05Migration">Migration Guide</a> for important notes regarding usage changes.</p>
</div>
<div class="box">
    <h3>Latest News</h3>
	<ul>
% for item in news:
<%
	count += 1
	if count > max:
		break
%>
	<li><a href="/news.html#${item['id']}">${item['headline']}</a><br/><span class="date">${item['formatted_date']}</span>
% endfor
    </ul>
% if section != 'news':
<br/>
<a href="/news.html">More news...</a>
% endif
</div>

<div class="box">
  <h3>Quicklinks</h3>
  <ul>
  <li>Documentation: <a href="/docs/05/">0.5</a> | <a href="/docs/04/">0.4</a> | <a href="/docs/03/">0.3</a></li>
  <li>Changelog:<br/>
 <a href="/CHANGES">Latest Release</a> | <a href="/trac/browser/sqlalchemy/trunk/CHANGES">SVN Trunk</a></li>
  <li>Timelines:<br/>
  <a href="/trac/timeline">Project</a> | <a href="/trac/log/sqlalchemyorg/trunk">Website</li>
  <li><a href="http://groups.google.com/group/sqlalchemy">Mailing List</a></li>
  <li><a href="/trac/browser">Browse SVN</a></li>
  <li><a href="/download.html">Download</a></li>
  </ul>
</div>

<div class="box donate">
  <%include file="/paypal.html"/>
</div>

</div> <!-- end #sidebar -->
